.text-center {
  text-align: center;
}

h2 {
  color: rgb(201, 127, 15);
}

.top-image img {
  border-color: rgb(201, 127, 15) !important;
}

.top-hero {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.90);
  border-radius: 200px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgba(255, 255, 255, 0.73);
}

.top-container {
  background: url("background_image.jpg") no-repeat 50% 50%;
  background-size: cover;
}

a {
  color: #000000;
  transition: ease-in 0.5s;
  font-size: 1.2rem;
  text-decoration: none;
}
a:hover {
  color: rgb(201, 127, 15);
}

.tags span {
  border: 2px solid rgb(201, 127, 15);
  padding: 5px 20px;
  color: rgb(201, 127, 15);
  border-radius: 10px;
  font-size: 0.9rem;
  display: inline-block;
  margin: 3px;
}

.skills {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0.9rem;
}

.bg-success {
  background-color: rgb(201, 127, 15) !important;
}